<div class="row placeholder">
    <div class="chat-container" ng-class="!isShowEnd ? 'col-md-6' : 'col-md-12'">      
        <div class="outer-chat-header" outer-chat-header></div>
        <div class="chat-placeholder"> 
          <div chat class="chat"></div>
        </div>
    </div>    
    <div id="mapContainer" class="col-md-6 map-container" ng-show="!isShowEnd">
        <div id="ii" inner-chat-header class="inner-chat-header"></div>
              
        <div id="map" ng-show="group"></div>
        <div class="map-message-container" ng-hide="group">
            <div class="map-message"></div>
        </div>
    </div>        
  </div>

<div class="overlay" ng-show="!isShowEnd && !isShowWarning"></div>
<div id="inf" class="inf-wrapper" ng-show="!isShowEnd && !isShowWarning">
  <img class="imgX" src="img/webapp/closeBtn_dark@3x.png" onclick="$('#inf,.overlay').hide();">
  <div>
    <img src="img/webapp/BotFace@3x.png">
    <img src="img/webapp/WebAppTitle.png">
    Thanks for watching over {{group.user.name}} on {{group.user.gender == 1 ? 'his' : 'her'}} trip. Go ahead and let {{group.user.gender == 1 ? 'him' : 'her'}} know you've got {{group.user.gender == 1 ? 'his' : 'her'}} back!<br/>
    <a onclick="$('#inf,.overlay').hide(); $('#chatTextBox').focus();"><img src="img/webapp/messageIcon_grn@3x.png">Message</a>
  </div>
</div>

<div class="emergency-wrapper" ng-show="isShowWarning">    
  <div class="emergency-header">
    <img class="imgX" src="img/X.png" onclick="$('.emergency-wrapper').hide()" ng-click="closeEmergency()">
    Emergency
    <span><a href="tel:112">112</a></span>
  </div>
  <div class="emergency-body">
    <img ng-src="{{isEmpty(group.user.avatar) ? 'img/WebApp/noAvatarMale@3x.png' : group.user.avatar}}"
         ng-hide="group.user.gender == 1"
         alt="person" />
    <img ng-src="{{isEmpty(group.user.avatar) ? 'img/WebApp/noAvatarFemale@3x.png' : group.user.avatar}}"
         ng-hide="group.user.gender != 1"
         alt="person" />
    <b>{{group.user.name}} is in trouble!</b>
    Please check up on {{group.user.gender == 1 ? 'him' : 'her'}} ASAP!
  </div>
  <!--<div class="cap-message redmap">
    <div id="map" ng-show="group"></div>
  </div>-->  
  <div class="emergency-footer">
    <a href="tel:{{group.user.phoneNumber}}"><img src="img/webapp/call@3x.png">Call</a>
    <a onclick="$('.emergency-wrapper').hide();$('#chatTextBox').focus()" ng-click="closeEmergency()"><img src="img/webapp/messageIcon@3x.png">Message</a>
  </div>
</div>

<div class="loader-wrapper" ng-show="inProgress">
    <div class="loader">
        <div class="cap-container loader-cont">
            <img src="img/loader.gif" alt="loader"/>
        </div>
    </div>
</div>