html, body {
    width: 100%;
    height: 100%;
    font-family: Roboto-Regular;
    overflow: visible;
    -webkit-overflov-scrolling: touch;
}

body {
    height: calc(100% - 66px);overflow-x:hidden;
}

@media (max-width: 321px) {

    #header img {
        margin-top: 10px;
        margin-right: 10px;
        height: 20px;
    }
}

#header {
    background-color: #333;
    margin-bottom: 0px;
    height: 66px;
    /*box-shadow: 0 0 3px 0px #dddbdb;*/
}

#header img {
    margin-top: 12px;
    margin-right: 20px;
    height: 40px;
    float: right;
}

#header .logo {
    margin-top: 17px;
    margin-left: 27px;
    margin-right: 0px;
    float: left;
    height: 20px;
}

#header .banner {
    float: right;
}

#header .imgArrow {
    height: initial;
    float: left;
    margin: 15px 0px 0px 14px;
}

#view {
    height: calc(100% - 0px);
    margin-top: 66px;
}

.placeholder {
    padding-left: 0px;
    height: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 992px) {
    .map-container {
        height: calc(100% - 38px) !important;
        padding: 0px;
    }
}

.map-container {
    height: calc(100% - 148px);
    padding: 0px;
}

.map-container .map-message-container {
    width: 100%;
    height: calc(100% - 50px);
    display: table;
    text-align: center;
}

.map-message-container .map-message {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    color: #BFBFC2;
}

#map {
    height: 100%;
    width: 100%;
}

.iOS .appleImage {
    display: block !important;
}

.Android .androidImage {
    display: block !important;
}

.chat-placeholder {
  background:#fafafa;
  height: calc(100% - 38px);
}

@media (min-width: 992px) {
    /*.chat-placeholder {
        margin-top: -52px;
        height: 100%;
    }*/

    /*.placeholder .hidden-chat-placeholder {
        margin-top: -52px;
        height: calc(100% - 50px);
    }*/

    .chat-placeholder .chat {
        height: 100% !important;
    }

    .chat-footer {
        /*position: initial !important;*/
    }

    #map {
        height: 100%;
    }
}

.chat-placeholder {    
    height: calc(100% - 38px);
    padding-left: 0px;
    padding-right: 0px;
    min-height: 148px;
}

.hidden-chat-placeholder {
    margin-top: 0px;
    height: calc(100% - 38px);
    min-height: 148px;
}

.chat-placeholder .chat {
    height: 100%;
    width: 100%;
}

.outer-chat-header {
    margin: 0;
    padding: 0;
}

.inner-chat-header {
    /*display: none;*/
    height: 38px;
    line-height:38px;
    margin: 0;
    padding:0;
    border-bottom:solid 1px #eaeaea;
    background:#30cc64;
    box-shadow:0 1px 1px 0px rgb(239,239,239);   
    text-align:center;
    color:#fafafa;    
}
.inner-chat-header img {
    margin-right:6px;
}
.inner-chat-header #chatHeader {
  background:#30cc64;

}
.inner-chat-header #chatHeader.emergency {
background:#EA4C50;  
}
#chatHeader .inner-chat-header {
  display:none;
}
#chatHeader { 
  
}
@media (max-width: 992px) {
  #chatHeader .inner-chat-header {
    display:inline-block;
    padding:0;
    width:calc(50% - 23px);
    background:#fafafa;
    color:#30cc64;
    float:left;
    box-shadow:none!important;
    border:none!important;
  }
  #chatHeader .inner-chat-header #chatHeader {
    box-shadow:none!important;
    border:none!important;
    background:#fafafa;
    color:#30cc64;
    cursor:pointer;
  }
  #chatHeader .inner-chat-header.selected #chatHeader {
    background:#30cc64;
    color:#fafafa;
  }
  #chatHeader .person-name {
      padding:0!important;
     display:inline-block;
     width:calc(50% - 23px);
     color:#30cc64;
     background:#fafafa;
     text-align:center;
     float:left;
     cursor:pointer;
  }
  #chatHeader .person-name.selected {     
     background:#30cc64;
     color:#fafafa;     
  }
  .map-container .inner-chat-header{
    display:none;
  }
}

#inner-chat {
    display: block;
}

.full-height {
    height: 100% !important;
}

@media (max-width: 992px) {    
    .chat-container,.map-container  {
      height:100%;
      z-index:67;
    }

    .map-container {
      height:calc(100% - 38px);
      transform:translateY(-100%);
      z-index:66;
    }
    .map-container.selected {
      z-index:68;
    }

    #map {

    }

    #inner-chat {
        display: none;
    }
}

@media (min-width: 992px) {
    .imgArrow {
        display: none !important;
    }
}

.cap-wrapper {
    height: 100%;
    width: 100%;
    display: table;
    background: #fafafa;
}

.cap-wrapper .cap-container {
    display: table-cell;
    text-align: center;
}

.cap-container img {
    width: 120px;
    margin: 0px;
}

.cap-container .cap-header {
    margin: 80px 0px 60px 0px;
    font-weight: 700;
    color: #424242;
}

.cap-header.green-style {
    color: #42d07a;
}

.cap-container .cap-message {
    font-weight: 700;
    color: #424242;
    font-family: Roboto-Regular;
}

.cap-btns {
    text-align: center;
    width: 300px;
    height: 64px;
    position: fixed;
    bottom: 0px;
    margin-left: calc((100% - 303px) / 2);
}

#a-call, #d-message {
    float: left;
}

#img-call, #img-message {
    margin: 3px 5px 5px 0px;
}

.cap-btn {
    height: 60px;
    width: 150px;
    float: left;
    border: 1px solid;
    border-radius: 17px;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    padding: 10px;
}

.cap-btn img {
    width: 20px;
}

.cap-btn span {
    margin-top: 20px;
}

.navbar {
  min-height:initial;
}

.warning-wrapper .cap-message a {
    color: #424242;
    text-decoration: underline;
}

@media (max-width: 999px) {
    .navbar-bottom {
        margin-top: -90px;
    }
}

@media (min-width: 1000px) {
    .warning-wrapper {
        height: 100%;

    }

    .shWarning .warning-wrapper {
        height: initial;

    }

    .navbar-bottom {
        margin-top: 50px;
    }
}

#footer {
    padding-bottom: 20px;
    background-color: #454545;
    color: white;
    text-align: center;
    opacity: 0.97;
}

#footer div {
    margin-top: 10px;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 15px;
    font-family: Roboto-Light;
    font-weight: normal;
    color: rgb(250, 250, 250)
}

#greyMessage, #greyMessageUp {
    margin: 0px;
    height: 50px;
    text-align: center;
    float: none;
    cursor: pointer;
}

.navbar-fixed-bottom .imgX {
    height: 20px;
    float: left;
    margin-right: 0px;
    margin-left: 13px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    color: #333333;
}

@font-face {
    font-family: Roboto-Black-Thin;
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Bold; /* Имя шрифта */
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Light; /* Имя шрифта */
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Regular; /* Имя шрифта */
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Thin; /* Имя шрифта */
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Thin.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Medium; /* Имя шрифта */
    src: url(fonts/Roboto_v1.2/Roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: SF-Regular; /* Имя шрифта */
    src: url(fonts/SF/SystemSanFranciscoDisplayRegular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: SF-Bold; /* Имя шрифта */
    src: url(fonts/SF/SystemSanFranciscoDisplayBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: SF-Thin; /* Имя шрифта */
    src: url(fonts/SF/SystemSanFranciscoDisplayThin.ttf); /* Путь к файлу со шрифтом */
}

.transportImg {
    margin: 0px;
    height: 13px
}

.warning-wrapper {
    position: absolute;
    top: 0px;
    z-index: 99;
    display: block;
}

.warning-wrapper .warning-header {
    margin: 0;
}

@font-face {
    font-family: Helvetica; /* Имя шрифта */
    src: url(fonts/Helvetica/HelveticaNeueCyr-Bold.otf); /* Путь к файлу со шрифтом */
}

.transportImg {
    margin: 0px;
    border: none;
    text-align: center;
}

.cap-container .close-btn {
    margin-left: 15px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    float: left;
    cursor: pointer;
}

.warning-header .wrapper-header-value {
    height: 30px;
    margin-left: -50px;
    margin-top: 10px;
}

.warning-wrapper .navbar, .cap-wrapper {
    background-color: #ea4c50;
    color: white !important;
    border-radius: 0px;
}

.warning-wrapper .cap-wrapper .cap-container .cap-header, .cap-message {
    color: #FFFFFF !important;
    font-size: 14px;
    margin: 10px 0px 15px 0px;
    font-family: Roboto-bold;
}

.warning-wrapper .cap-wrapper .cap-container .cap-header span {
    font-family: Roboto-Light;
    font-weight: 100;
}

.warning-wrapper .navbar {
    text-align: center;

}

.warning-wrapper .navbar label {
    margin-top: 6px;
    margin-left: -60px;
}

.red {
    background: #EA4C50 !important;
}
.emergency .divPerson img {
  border-color:#EA4C50;
}

.middle-red {
    background: #e8585c !important;
}

.dark-red {
    background: #ab484a !important;
}

.dark-white {
    color: #faf5ee !important;
}

.green {
    background: #33CD66 !important;
}

.blue {
    background: blue !important;
}

@media (max-width: 1000px) {
    .warning-wrapper {
        height: 100%;
        width: 100%;
    }
}

@media (min-height: 400px) {
    .cap-container img {
        width: 90px;
        margin-bottom: 10px;
    }

    .cap-container #redMap {
        width: 90px;
        height: 90px;
        border-radius: 90px;
    }
}

@media (min-height: 450px) {
    .cap-container img {
        width: 115px;
        margin-bottom: 10px;
    }

    .cap-container #redMap {
        width: 115px;
        height: 115px;
        border-radius: 115px;
    }
}

@media (min-height: 500px) {
    .cap-container img {
        width: 140px;
    }

    .cap-container #redMap {
        width: 140px;
        height: 140px;
        border-radius: 140px;
    }
}

@media (min-height: 550px) {
    .cap-container img {
        width: 160px;
    }

    .cap-container #redMap {
        width: 160px;
        height: 160px;
        border-radius: 160px;
    }
}

@media (min-height: 600px) {
    .cap-container img {
        width: 180px;
    }

    .cap-container #redMap {
        width: 180px;
        height: 180px;
        border-radius: 180px;
    }

    .warning-wrapper .cap-wrapper .cap-container .cap-header {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cap-container .close-btn {
        margin-top: 25px;
    }
}

@media (min-height: 600px) {
    .cap-container img {
        width: 180px;
    }

    .cap-container #redMap {
        width: 180px;
        height: 180px;
        border-radius: 180px;
    }

    .warning-wrapper .cap-wrapper .cap-container .cap-header {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cap-container .close-btn {
        margin-top: 30px;
    }
}

@media (min-height: 700px) {
    .cap-container img {
        width: 210px;
    }

    .cap-container #redMap {
        width: 210px;
        height: 210px;
        border-radius: 210px;
    }

    .warning-wrapper .cap-wrapper .cap-container .cap-header {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cap-container .close-btn {
        margin-top: 40px;
    }

    .cap-btns {
        margin-top: 30px;
    }
}

@media (min-width: 401px) {
    .cap-container img {
        width: 200px;
    }

    .cap-container #redMap {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
}

#redMap {
    display: inline-block;
}

.ended-wrapper {
    height: calc(100% - 50px);
}

.ended-wrapper .cap-wrapper {
    background-color: white;
    color: black !important;
}

.ended-wrapper .cap-wrapper .cap-container .cap-header, .cap-message {
    color: black !important;
    margin-top: 30px;
}

.ended-wrapper img {
    margin-top: 70px;
}

.emergencyText {
    font-size: 30px !important;
    width: calc(100% - 30px);
    font-family: Roboto-Light !important;
    font-weight: 100 !important;
}

@media (min-width: 1000px) {
    .shWarning {
        width: 100%;
        background-color: grey;
        padding-left: calc(50% - 196px);
    }
    /*.chat-message-container {
        max-height: calc(100% - 42px)!important;
    }*/
}

.warning-wrapper a {
    color: white;
}

.whiteBorder {
    width: 135px;
    height: 44px;
    font-size: 14px;
    background-color: #ea4c50;
    padding: 10px 0px;
    margin-left: 7px;
    margin-right: 7px;
    border: solid;
    border-color: white !important;
    border-width: 1px;
    border-radius: 12px;
    font-family: Roboto-Light;
}

.loader {
    height: 100%;
    width: 100%;
    display: table;
}

.loader-cont {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader-cont img {
    width: 168px;
}

.progress-wrapper {
    height: 100%;
    width: 100%;
}

.cap-container .redmap {
    margin-top: 25px;
}

.whiteBorder .imgBtn {
    width: 16px;
}

.loader-wrapper {
    width: 100%;
    height: calc(100% - 50px);
    background: #ffffff;
    position: absolute;
    top: 50px;
    z-index: 120;
    display: block;
}

#chatHeader {
    height: 38px;
    margin: 0;
    padding:0;
    border-bottom:solid 1px #eaeaea;
    background:#fafafa;
    box-shadow:0 1px 1px 0px rgb(239,239,239);    
}

#chatHeader #showChat, #hideChat {
    width: 26px;
    float: left;
    margin: 20px 17px 0px 14px;
    cursor: pointer;
    float: right;
}

.outer-header {
    /*height: 52px !important;*/
    border: none;
    border-radius: 0;
}
.outer-header.emergency .person-name
{
  color:#EA4C50!important;
}

/*#chatHeader #btnCall {
    height: 50px;
    margin: 4px -10px 0px 0px;
    float: right;
}

.outer-header #btnCall {
    height: 40px !important;
    margin: 7px 20px 0px 0px !important;
    float: right !important;
}
  */
/**/#chatHeader .person-name {
    /*width: calc(100% - 155px);*/
    font-family: Roboto-Bold;
    display:inline-block;
    line-height:38px;
    /*padding-top: 10px;*/
    padding:0 22px;
    color:#30cc64;
}

.chat-persons {
    /*background: #4ecf77;
    width: 100%;
    height: 52px;
    overflow-x: auto;*/
    display:inline-block;
    white-space: nowrap;
}

/*.chat-persons img {
    width:55px!important;
    height:55px!important;
    float:none!important;
    margin-right:10px!important;
    margin-top:0!important;
}*/

.person {
    margin: 10px 0px 0px 12px;
}

.icon-container {
    border-radius: 50%;
}

.chat-message-container {
    height: calc(100% - 38px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #fafafa;
}

.hidden-chat {
    display: none;
}

@media (min-width: 992px) {    
    .hidden-chat {
        display: block;
    }
}

.chat-message-container .chat-message-wrapper {
    clear: both;
    width: 100%;
    display: table;
}

.sender-name {
    margin-top: 10px;
    margin-left: 45px;
    font-size: 10px;
    color: #8e8e93;
}

.chat-message-wrapper .icon-wrapper {
    display: table-cell;
    width: 10px;
}

.icon-wrapper .icon {
    float: left;
    display: table-cell;
    margin-bottom: 5px;
}

.icon-wrapper img {
    width: 14px;
    border-radius: 14px;
}

.chat-message-wrapper .chat-message {
    background: #939393;
    width: auto;
    max-width: 60%;
    padding: 8px 15px 8px 17px;
    margin: 10px 15px 0px 0px;
    position: relative;
    float: right;
    border-radius: 15px;
    box-sizing: border-box;
    word-wrap: break-word;
    color: rgb(250, 250, 250);
    font-size: 14px;
    clear: both;
}

.message-status {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10px;
    color: #8e8e93;
    font-family: Roboto-Bold;
}

.message-status.right-message {
    float: right;
    margin-top: 10px;
}

.chat-message:before, .chat-message:after {
    border-radius: 20px / 10px;
    content: '';
    display: block;
    position: absolute;
}

.chat-message:before {
    /*border: 10px solid transparent;
    border-bottom-color: #939393;*/
    bottom: 4px;
    right: -8px;
    z-index: -2;
}

.chat-message:after {
    border: 8px solid transparent;
    border-bottom-color: #939393;
    border-radius: 20px / 10px;
    bottom: 4px;
    right: -5px;
}

.chat-message.right {
    background: #e1e1e1;
    float: left;
}

.chat-message.right:before {
    border-bottom-color: #e1e1e1;
    border-radius: 20px / 10px;
    right: auto;
    left: -7px;
}

.chat-message.right:after {
    border-bottom-color: #e1e1e1;
    border-radius: 20px / 10px;
    right: auto;
    left: -5px;
}

.chat-message.right.red:after {
    border-bottom-color: #EA4C50;
    border-radius: 20px / 10px;
    right: auto;
    left: -5px;
}

.chat-message.right.green:after {
    border-bottom-color: #33CD66;
    border-radius: 20px / 10px;
    right: auto;
    left: -5px;
}

.chat-message.right.blue:after {
    border-bottom-color: blue;
    border-radius: 20px / 10px;
    right: auto;
    left: -5px;
}

.chat-footer {
    background: #fafafa;
    position: absolute;
    width: 100%;
    height: 38px;
    text-align: center;
    border-top: 1px solid #BDBDBD;
    bottom: 0px;
}

.chat-footer input {
    width: calc(100% - 80px);
    height: 24px;
    border-radius: 15px;
    vertical-align: middle;
    border: 1px solid #BDBDBD;
    margin-top: 6px;
    margin-left: 5px;
    background: #fafafa;
    outline: none;
    font-family: Roboto-Light;
    padding-left: 15px;
    font-weight:bold;
}

input::-webkit-input-placeholder {
    color: #e1e1e2;
}

input::-moz-placeholder {
    color: #e1e1e2;
}

/* Firefox 19+ */
input:-moz-placeholder {
    color: #e1e1e2;
}

/* Firefox 18- */
input:-ms-input-placeholder {
    color: #e1e1e2;
}

.chat-footer img {
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    width: 26px;
    border-radius: 50%;
}

.chat-message-container {
    font-family: Roboto-Light;
}

.person-name span {
    color: #a5a5a5;
}

.person-name .sender-name {
    color: #424242;
    font-family: Roboto-Medium;
    font-size: 18px;
}

.person-name span {
    color: rgb(148, 148, 148);
    font-family: Roboto-Regular;
    font-size: 14px;
}

.person-name img {
    vertical-align: top;
}

.divPerson {
    display: inline-block;
    height: 55px!important;
    width: 55px!important;    
    border-radius: 100%;
    text-align: center;
    left:20px;top:4px;
    font-family: Roboto-Bold;
}
.c100 {
  background:none!important;
  font-size:55px!important;
  float:none!important;
}

.img-div-person{
    border-radius: 50%;
    position:absolute;
    left:3px;
    top:3px;
    width:48px!important;
    height:48px!important;
    z-index:1000;
    margin:0!important;
    float:none!important;
    /*border:solid 4px #30cc64;    */
}
/*.chat-persons.divPerson:not(.both-person):first-of-type*/.divPerson::before {
  content:"";
  width: 0; 
	height: 0; 
  left:50%;
  transform:translateX(-50%);
  margin:0;  
  bottom:-7px;
  position:absolute;
  display:block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #fafafa;
  z-index:1050;
}
@media (max-width: 992px) {
  .divPerson::before {
    border-bottom-color:#30cc64;
  }
}
.chat-persons.emergency .c100 .fill {
  border-color:#EA4C50!important
}
.chat-persons.emergency .c100 .bar {
  border-color:#EA4C50!important
}

.chatPerson {
    margin: 10px 0px 0px 0px;
}

.divPerson span {
    margin-top: 7px;
    display: block;
}

.chat-message.right {
    color: black;
}

.dvusername {
    overflow: hidden;
    height: 20px;
}

.chat-footer .sendButton {
    margin-left: 0px;
    width: 60px;
    border: none;
    color: #30cc64;
    background: transparent;
    cursor: pointer;
}

.chat-footer .sendButtonRed {
    color: #EA4C50 !important;
}

.disabled {
    color: #8e8e93 !important;
    opacity: 0.5;
}

.both-person {
    /*padding-top: 5px; */
}

.progress-container {
    /*position: absolute;
    top: calc(100% - 75px);
    left: 25px;*/
    height: 38px;
    line-height:34px;
    margin: 0;
    padding:0;
    border-bottom:solid 1px #eaeaea;
    background:#30cc64;
    box-shadow:0 1px 1px 0px rgb(239,239,239);   
    text-align:center;
    color:#fff;
}

.progress-container img {
    /*width: 42px;
    border-radius: 50%;*/
}

.overlay {
  background:#333;opacity:0.50;z-index:2000;left:0;top:0;
  position:fixed;width:100%;height:100%;
}
.inf-wrapper {
  z-index:2001;
  position:fixed;
  top:50%;
  left:50%;  
  margin: 0;
  width:400px;
  max-width:90%;
  min-width:25%;  
  padding:2px 8% 16px;  
  background:#fafafa;
  border-radius:10px;
  box-shadow:1px 1px 5px 0px rgb(239,239,239);     
  transform:translate(-50%,-50%);
  text-align:center;
}
.inf-wrapper img {
  display:block;
  margin:auto auto 20px auto;
}
.inf-wrapper div img:first-of-type {
  margin-bottom:0;
}
.inf-wrapper div a {
  margin-top:20px;display:inline-block;padding:7px 20px;
  border:solid 2px #30cc64;
  border-radius:20px;color:#30cc64;
  text-decoration:none;cursor:pointer;
}
.inf-wrapper div a img {
  height:14px;display:inline-block;margin:0 10px 0 0;
}
.inf-wrapper img.imgX {
    position:absolute;
    height: 20px;        
    left: 16px;
    top: 16px;
    cursor: pointer;
}

/*.emergency-wrapper, .inf-wrapper .emergency-header {
    font-size: 26px;
    font-weight: 100;
    margin-top: 10px;
}*/

.emergency-wrapper .emergency-body {
    margin-top: 5px;
}

.inf-wrapper {
    /*z-index: 1;
    background: #fafafa;*/
}

.inf-wrapper .emergency-body {
    /*margin-top: 30px;*/
}

.emergency-wrapper/*, .inf-wrapper */{
    position: fixed;
    width:100%;
    height:calc(100%);
    left:0;top:0;
    background: #EA4C50;        
    font-family: Roboto-Light;
    color: #fff;
    text-align: center;z-index:2000;
}
.emergency-wrapper .emergency-header {
  padding:20px 10px;font-size:36px;line-height:28px;
}
.emergency-wrapper .emergency-header .imgX {
  cursor:pointer;height:24px;float:left;cursor:pointer;
}
.emergency-wrapper .emergency-header span {
  float:right;font-size:24px;
}
.emergency-wrapper .emergency-header span a {
  color: #fff;text-decoration:none;
}

.emergency-wrapper .emergency-body {
  font-size:20px;
}
.emergency-wrapper .emergency-body b {
  display:block;text-align:center;margin:20px 0 10px 0;
}
.emergency-wrapper .emergency-body img {
  border-radius:100%;display:block;margin:20px auto;height:60%;
}
.emergency-wrapper .emergency-footer {
  margin-top:30px;position:absolute;bottom:5%;width:100%;
}
.emergency-wrapper .emergency-footer a {
  width:45%;display:inline-block;border:solid 2px #fff;max-width:200px;
  margin:0 10px 10px;padding:8px 20px;border-radius:20px;font-size:20px;color:#fff;text-decoration:none;cursor:pointer;
}
.emergency-wrapper .emergency-footer a img {
  max-height:30px;margin-right:14px;
}

.set-icon-wrapper {
    float: right;
    width: 46px;
    height: 38px;
    /*margin: 11px 5px 0px 0px;*/
    cursor: pointer;
    border-left:solid 1px #e1e1e1;
    border-right:solid 1px #e1e1e1;
}
.set-icon-wrapper button {
  width:46px;height:38px;border:none;background:transparent;
  font-weight:bold;color:#9f9f9f;font-size:1.7em;
  vertical-align:top;
}

.set-icon-wrapper .set-icon-container {
    width: 170px;
    height: 105px;
    border-radius: 10px;
    z-index: 97;
    position: absolute;
    margin-left: -62px;    
    background: rgb(67, 67, 66);
}

.set-icon-wrapper .set-icon-container::before {
  content:"";
  width: 0; 
	height: 0; 
  left:50%;
  margin-left:-10px;
  margin-top:-10px;
  position:relative;
  display:block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
	border-bottom: 10px solid rgb(67, 67, 66);
}

.set-leave, .set-cancel, .set-call {
    width: 145px;
    height: 35px;
    border: 1px solid #ffffff;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 17px;
    color: #ffffff;
    text-align: center;
    font-family: Roboto-Light;
    padding-top: 7px;
    cursor: pointer;
    transition:all ease-in-out 250ms;
}

.set-call a {
  color:#fff;
  text-decoration:none;
}


.set-leave:hover, .set-cancel:hover, .set-call:hover {
  color:#e1e1e1;border-color:#e1e1e1;
}
.set-leave:hover a, .set-cancel:hover a, .set-call:hover a {
  color:#e1e1e1;
}

.top-c {
    margin-top: 0px;
}

@media (max-width: 992px) {
    .set-icon-container {
        width: 101% !important;
        left: -1px;
        margin-left: 0px !important;
        border-radius: 0px !important;
    }

    .set-leave, .set-cancel, .set-call {
        width: calc(100% - 26px) !important;
    }

    .top-c {
        margin-top: -117px !important;
    }

}

#settingBtnDesctop {
    width: 28px;
    margin: 2px 0px 0px 2px !important;
}

#settingBtn {
    width: 34px;
    margin: 1px 0px 0px 3px !important;
}

.col-md-6,.col-md-12 {
  padding:0;
}

@media (min-width: 992px) {
  .col-md-6,.col-md-12 {
    height:100%;
  }
}