<link rel="stylesheet" href="css/3Cap.css" media="screen">
<div class="navbar">
    <img src="img/redX.png" style="    margin-left: 20px;    margin-top: 10px;    height: 30px;    float: left;"/>
    <img src="img/Em.png" style="float: none; margin-right: 45px;"/>
</div>
<div class="cap-wrapper">
    <div class="cap-container">
        <img src="img/avatar5.1.png" class="person" alt="person"/>

        <div class="cap-header">
            Paula is in trouble!
        </div>
        <div class="cap-message">
            Please check up on her ASAP.
        </div>
        <div class="cap-message">
        <img src="img/RedMap.png"/>
            </div>
        <div class="cap-message">
        <img src="img/CallAndMessage.png"/>
            </div>
    </div>

</div>