<div id="header" class="navbar navbar-fixed-top">
    <!--<label>Watcher</label>-->
    <img class="watcherIMG" src="img/WatcherGreen.png">
    <img style="display:none" class="appleImage" src="img/appstore.png">
    <img style="display:none" class="androidImage" src="img/android.png">
</div>
<div class="cap-wrapper">
    <div class="cap-container">
        <img src="img/avatar5.png" class="person" alt="person"/>

        <div class="cap-header green-style">
            Paula arrived at her destination
        </div>
        <div class="cap-message">
            Thanks for helping out! <a href="">Get Watcher</a>
            today to start your own trip.
        </div>
    </div>

</div>