<div id="chatHeader" class="navbar navbar-bottom outer-header" ng-class="$root.statusType == 12 ? 'emergency' : ''">
  <div class="person-name selected" onclick="$('.map-container').removeClass('selected'); $(this).addClass('selected'); $('.inner-chat-header').removeClass('selected')">
      <div>{{group.user.name}}</div>      
  </div>
  <div inner-chat-header class="inner-chat-header" onclick="$('.map-container').addClass('selected'); $(this).addClass('selected'); $('.person-name').removeClass('selected');"></div>
  <div class="set-icon-wrapper">
      <!--<img id="settingBtnDesctop" ng-src="{{$root.statusType != 12 ? 'img/WebApp/setting.png' : 'img/WebApp/setting_white.png' }}" alt="" ng-click="showHideSetting()"/>-->
      <button ng-click="showHideSetting()">...</button>
      <div class="set-icon-container" ng-show="settingIsShow">
          <!--<div class="set-leave">Leave Trip</div>-->
          <div class="set-call"><a href="tel:{{group.user.phoneNumber}}">Call</a></div>
          <div class="set-cancel" ng-click="showHideSetting()">Cancel</div>
      </div>
  </div>
</div>