@font-face
	font-family 'Circe'
	font-weight 300
	font-style normal
	src url('~font/circe-300.eot') format('eot'),
		url('~font/circe-300.svg') format('svg'),
		url('~font/circe-300.ttf') format('truetype'),
		url('~font/circe-300.woff') format('woff')
	
html
	text-align center
	background url('~img/bg.png')

h1
	color #CCC
	font-weight 300
	font-family 'Circe'
	animation-name fadeInDown
	animation-duration .5s
	
img
	animation-name zoomInDown
	animation-duration 1.5s